/* 
    Document   : pagination
    Created on : 07/01/2013, 21:10:59
    Author     : cezar
    Description:
        Purpose of the stylesheet follows.
*/

div.paginationControl a{
    cursor: pointer;
    color: #000;
 }

div.paginationControl button{
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    background: #658db5;
    background: #6BA5D0;;
    color: #FFFFFF; 
    height: 19px;
    width: 4%;
}
div.paginationControl button:hover{
    height: 22px;
    width: 5%;
    text-shadow: 0 1px 1px #FFFFFF;
    font-weight: bolder;
}
div.paginationControl span.select{
    text-shadow: 0 1px 1px #000;
    font-weight: bolder;
}

